
/* Custom styles */
body {
  @apply bg-white dark:bg-[#222] text-black dark:text-gray-100;
}

.neumorphism-card {
  background: #e0e0e0; /* Light mode background */
  border-radius: 12px;
  box-shadow: 10px 10px 15px #b8b9be, -10px -10px 15px #ffffff;
  margin: 10px;
  color: black; /* Light mode text color */
}

.dark .neumorphism-card {
  background: #2c2c2c; /* Dark mode background */
  box-shadow: 10px 10px 30px #1a1a1a, -10px -10px 30px #363636;
  color: white; /* Dark mode text color */
}