
/* Custom styles */
body {
  @apply bg-white dark:bg-[#222] text-black dark:text-gray-100;
}

.neumorphism-card {
  background: #e0e0e0; /* Light mode background */
  border-radius: 12px;
  box-shadow: 10px 10px 15px #b8b9be, -10px -10px 15px #ffffff;
  margin: 10px;
  color: black; /* Light mode text color */
}

.project-card{
  background: #e0e0e0; /* Light mode background */
  border-radius: 12px;
  box-shadow: 10px 10px 15px #b8b9be;
  margin: 10px;
  color: black; /* Light mode text color */
  width: 20vw;
  height: 12vw;
  
}

.dark .project-card{
  background: #2c2c2c; /* Dark mode background */
  box-shadow: 10px 10px 30px #1a1a1a;
  color: white; /* Dark mode text color */
}

.dark .neumorphism-card {
  background: #2c2c2c; /* Dark mode background */
  box-shadow: 10px 10px 30px #1a1a1a, -10px -10px 30px #363636;
  color: white; /* Dark mode text color */
}

::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
  height: 12px; /* Height of the scrollbar (for horizontal bars) */
}

::-webkit-scrollbar-track {
  background: #222222; /* Background of the scrollbar track */
  border-radius: 10px; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
  background-color: #0f0f0f; /* Scrollbar color */
  border-radius: 10px; /* Rounded corners for the thumb */
  border-top: 1px solid #f1f1f1; /* Adds space around the thumb for a "floating" effect */
  border-bottom: 1px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #333333; /* Darker color when hovering over the scrollbar */
}